@import url(https://fonts.googleapis.com/css?family=Share:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700);
@import url('https://fonts.googleapis.com/css?family=Condiment');


body {
	font-family: Share, Arial, san-serf;
	background: url(../img/kingkong.jpg) center center;
	padding-bottom: 50px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 100px;
}

.block {
	position: absolute;
	bottom: 20px;
	max-width: 600px;
	right: 50%;
	margin-right: -300px;
}

h1 {
	font-family: 'Cinzel Decorative', Georgia, serif;
	color: #ddbc24;
	font-size: 40px;
	text-shadow: 0 0 6px #000;
}

.quotebox {
	width: 100%;
	height: auto;
	border: 2px solid #ddbc24;
	padding: 20px 30px;
	font-family: Share, Arial, san-serif;
	text-align: left;
	background-color: rgba(255, 255, 255, 0.6);
	color: #000;
	border-radius: 10px;
	margin: 10px auto 50px;
}

.quotebox p {
	font-size: 30px;
	line-height: 34px;
}

#quoteText {
	font-style: normal; 
	font-size: 28px; 
	line-height: 34px;
}

#quoteCharacter {
	color: #333;
	font-family: 'Condiment', cursive;
	text-align: right;
	font-size: 28px;
	line-height: 48px;	
}

.centerallthethings {
	text-align: center;
}

.button-stuff {
	margin-top: 55px;
	max-width: 300px;
	margin: 50px auto;
}

.tweet-btn-tweak {
	margin: 15px auto !important;
}

input:focus,
I select:focus,
textarea:focus,
button:focus {
	outline: none !important;
}
